@using OData.Models
@model Contracts.Universe
@{
    ViewBag.Title = "Index";
}

<h2>Ko ftw!</h2>
<div data-bind="visible:hasError,text:message" class="error"></div>
<div>
    Search Grid
    @foreach (var m in ViewData.ModelMetadata.Properties)
    {
        @m.PropertyName <input data-bind="value:@m.PropertyName"/>   
    }
    HtmlMap search type
    <select name="HtmlMapSearchType" data-bind="options:searchOptions,optionsText:'text',optionsValue:'value',value:htmlMapSearchType"></select>
    <select name="orderby" data-bind="options:sortOptions,optionsText:'text',optionsValue:'value',value:sortField"></select>
    descending? <input type="checkbox" data-bind="checked:descending"/>
</div>
<div data-bind="koGrid: gridOptions" style="min-height: 200px"></div>
<a href="#" data-bind="click:fetch">Fetch</a>
<div>Message:<span data-bind="text:message"></span></div>
<div>UseJson?
    <input type="checkbox" data-bind="checked:makeLinkJson" /></div>
    
<table class="bordered">
    <caption>Urls:</caption>
    
    
    <tr><td>Odata Url</td>
        <td>@Html.Partial("ODataBoundLink",new ODataBoundLink(){ AnchorClass = "odatalink", BaseUrl = "odataBase", Href = "odataUrl", Json = "odataJson"})</td></tr>
    <tr><td>WCF Data services Url</td>
        <td>@Html.Partial("ODataBoundLink",new ODataBoundLink(){AnchorClass = "wcflink", BaseUrl="wcfDataBase", Href="WcfDataUrl",Json = "wcfJson"})</td></tr>
</table>
   
<div data-bind="text:errorDetail"></div>
<div>
    Raw Items (no kogrid)
    <div data-bind="foreach: items">
        <div>
            <span data-bind="text: JSON.stringify($data)">:</span><span data-bind="text: $data"></span>
        </div>
    </div>
</div>
@section scripts
{
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.2.1/knockout-min.js"></script>
    <script src="~/Scripts/koGrid-2.1.1.debug.js"></script>
    <script src="~/Scripts/KoExtensions.js"></script>
    <script id="odataoverrides">
        window.filterOverride = {};
        window.filterOverride.HtmlMap = function(self,filters,buildFilter) {
            if (!self.HtmlMap())
                return;
            var newFilter;
            switch(self.htmlMapSearchType()) {
            case 'indexof':
                newFilter = self.htmlMapSearchType() + '(HtmlMap,\'' + self.HtmlMap() + '\') ge 0';
                filters.push(newFilter);
                break;
            case 'substringof':
                newFilter =self.htmlMapSearchType() + '(\'' + self.HtmlMap() + '\',HtmlMap) eq true';
                filters.push(newFilter);
                //buildFilter('HtmlMap', 'substringof', '', "'");
                break;
            default :
                buildFilter('HtmlMap', 'eq', '', "'");
            }
            
        };
    </script>
    <script src="~/Scripts/SearchModel.js"></script>
    <script>
        var url = "/OData/Universes";
        var ViewModel = function (url) {
            var ko = window.ko;
            var self = this;
            @Html.Partial("ODataFilter",Model)
            addSearch(ko, self,url);
            addGridOptions(ko, self);
            self.fetch();
        };
        var komodel = new ViewModel(url);
        //window.ko.applyBindings(komodel);
    </script>

}
