@using OData.Models
@model Contracts.Universe
@{
    ViewBag.Title = "Index";
    var shownOrderedProperties = ViewData.ModelMetadata.Properties.OrderBy(a => a.PropertyName).ToArray();
    Func<ModelMetadata, bool> isDateRange = m => m.ModelType.Name == "DateRange"; //typeof(DateRange) || m.TemplateHint ==  MVC.Shared.Views.EditorTemplates.DateTimeRange;   
}

<h2>Ko ftw!</h2>
<div data-bind="visible:hasError,text:message" class="error"></div>
@Html.Partial("UniverseSearch",Model)
<div data-bind="koGrid: gridOptions" style="min-height: 200px"></div>
<div>
<a href="#" data-bind="click:fetch" class="button"><span>Fetch</span></a>    
</div>

<div>Message:<span data-bind="text:message"></span></div>
<div><input type="checkbox" data-bind="checked:makeLinkJson" />UseJson</div>
    
<table class="bordered">
    <caption>Urls</caption>
    <tr><td>Odata Url</td>
        <td>@Html.Partial("ODataBoundLink",new ODataBoundLink(){ AnchorClass = "odatalink", BaseUrl = "odataBase", Href = "uri", Json = "odataJson"})</td></tr>
    <tr><td>WCF Data services Url</td>
        <td>@Html.Partial("ODataBoundLink",new ODataBoundLink(){AnchorClass = "wcflink", BaseUrl="wcfDataBase", Href="WcfDataUrl",Json = "wcfJson"})</td></tr>
</table>
   
<div data-bind="text:errorDetail"></div>
<a href="#" data-bind="click:toggleRaw">Toggle Raw</a>
<div data-bind="visible:showRaw">
    Raw Items (no kogrid)
    <div data-bind="foreach: items">
        <div>
            <span data-bind="text: JSON.stringify($data)">:</span><span data-bind="text: $data"></span>
        </div>
    </div>
</div>

<a href="/Home/KoSearch">KoSearch version</a>
@section scripts
{
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.2.1/knockout-min.js"></script>
    <script src="~/Scripts/koGrid-2.1.1.debug.js"></script>
    <script src="~/Scripts/KoExtensions.js"></script>
    <script id="odataoverrides">
        window.filterOverride = {};
        window.filterOverride.HtmlMap = function(self,filters,buildFilter) {
            if (!self.HtmlMap())
                return;
            var newFilter;
            switch(self.htmlMapSearchType()) {
            case 'indexof':
                newFilter = self.htmlMapSearchType() + '(HtmlMap,\'' + self.HtmlMap() + '\') ge 0';
                filters.push(newFilter);
                break;
            case 'substringof':
                newFilter =self.htmlMapSearchType() + '(\'' + self.HtmlMap() + '\',HtmlMap) eq true';
                filters.push(newFilter);
                break;
            default :
                buildFilter('HtmlMap', 'eq', '', "'");
            }
            
        };
    </script>
    <script src="~/Scripts/SearchModel.js"></script>
    <script>
        var url = "/OData/Universes";
        
        var wcfUrl= 'http://localhost:4339/starfleetcommanderservice.svc/Universes';
        
        var ViewModel = function (odataUrl,wcfUrl) {
            var ko = window.ko;
            var self = this;
            self.showRaw = ko.observable(false);
            
            self.columns = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(shownOrderedProperties.Select(p=>
                     new { Name = p.PropertyName, ModelType = p.ModelType.ToString(), IsDateRange = isDateRange(p),p.ModelType.IsValueType })));
            
            addSearch(ko, self,odataUrl,wcfUrl);
            addGridOptions(ko, self);
            self.toggleRaw = function() {
                self.showRaw(!self.showRaw());
            };
            self.fetch();
        };
        var komodel = new ViewModel(url,wcfUrl);
        //window.ko.applyBindings(komodel); @*koGrid = fail! *@
    </script>

}
